@using Goals.Models
@model IEnumerable<Goal>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    <ul>
       @foreach (Goal goal in Model)
        {
        <li class="list-group-item">
            <p>@goal.Title</p>
            <p>@goal.Description</p>
            <p>@goal.Importance</p>
            @if (goal.DueDate.HasValue)
             {
                <p>@goal.DueDate</p>
             }
            <p>@goal.State</p>
        </li>
        }
    </ul>
</div>